:root {
  --font-main: "Poppins", sans-serif;
  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 600;

  --fs-h1: clamp(1.5rem, 1.2359154929577465rem + 1.1267605633802815vw, 2.25rem);
  --fs-h2: 1.25rem;
  --fs-p: 0.938rem;
  --fs-pCard: 0.813rem;

  --color-red: hsl(0, 78%, 62%);
  --color-green: hsl(180, 62%, 55%);
  --color-yellow: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-Very-Dark-Blue: hsl(232, 12%, 34%);
  --color-Grayish-Blue: hsl(229, 6%, 66%);
  --color-Very-Light-Gray: hsl(0, 0%, 98%);
  --color-bg: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  font-family: var(--font-main);
  font-weight: var(--fw-regular);
  line-height: 1.7;
  color: var(--color-Very-Dark-Blue);
  background-color: var(--color-bg);
}
body {
  line-height: 1.5;
  margin-block: 5rem;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* WRAPPER  */

.wrapper {
  max-width: 1110px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.wrapper--narrow {
  max-width: 540px;
}

/* HEADER */

header {
  text-align: center;

  margin-block-end: 4rem;
}

h1 {
  font-weight: var(--fw-light);
}

span {
  font-weight: var(--fw-bold);
}

header p {
  padding-block-start: 1rem;
  color: var(--color-Grayish-Blue);
  font-size: var(--fs-p);
}

/* GRID */

/* .grid {
  display: grid;
  gap: 1.875rem;
  grid-auto-columns: 1fr;
}

@media (min-width: 768px) {
  .grid {
    grid-template-areas:
      ". two ."
      "one two four"
      "one three four"
      ". three .";
  }
} */

.grid {
  grid-template-areas:
    ". two ."
    "one two four"
    "one three four"
    ". three .";
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    gap: 1.875rem;
    grid-auto-columns: 1fr;
    margin-block-end: 25px;
  }
}

/* CARDS */

.card {
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 0.3rem 1rem -0.3rem rgba(84, 158, 242, 0.5);
  border-radius: 1rem;
  border-top: solid 4px;
}

@media (max-width: 768px) {
  .card {
    margin-block-end: 25px;
  }
}

.card h2 {
  font-size: var(--fs-h2);
  margin: 0;
}

.card p {
  font-size: var(--fs-pCard);
  color: var(--color-Grayish-Blue);
}

.card > img {
  margin-top: 2.5rem;
  margin-left: auto;
}

.card:nth-child(1) {
  border-color: var(--color-green);
  grid-area: one;
}

.card:nth-child(2) {
  border-color: var(--color-red);
  grid-area: two;
}

.card:nth-child(3) {
  border-color: var(--color-yellow);
  grid-area: three;
}

.card:nth-child(4) {
  border-color: var(--color-blue);
  grid-area: four;
}
